.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
  }
  
  
  .content {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }
  
  .left-column, .right-column {
    flex: 1;
    padding: 10px;
   
    border-radius: 5px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #218838;
  }

  .logo-container {
    position: absolute;  /* Maakt het mogelijk om het logo vrij te positioneren */
    top: 0px;          /* Ruimte van de bovenkant van het scherm */
    left: 0px;         /* Ruimte van de linkerkant van het scherm */
    z-index: 1000;     /* Zorgt ervoor dat het logo boven andere elementen staat */
  }
  
  .logo {
    width: 60px;       /* Of een andere waarde naar keuze */
    height: auto;       /* Houd de aspect ratio van het logo */
  }
  
  