<div class="container">
  <div class="logo-container">
    <img [src]="logoUrl" alt="Stad Antwerpen Logo" class="logo" />
  </div>

  <h2 class="title">Slimme Schrijftool</h2>

  <div class="content">
    <!-- Linker kolom: Text Editor -->
    <div class="left-column">
      <app-text-editor
        (textGenerated)="onTextGenerated($event)"
      ></app-text-editor>
    </div>

    <!-- Rechter kolom: Output -->
    <div class="right-column">
      <app-output
        [outputText]="outputText"
        [showMessage]="showMessage"
        (outputTextChange)="onOutputTextChanged($event)"
        (finalized)="onTextFinalized()"
      >
      </app-output>
    </div>
  </div>
</div>

<!-- JMM -->
