textarea {
    width: 100%;
    resize: vertical; /* Laat gebruiker de hoogte aanpassen */
    padding: 10px;
    /* margin-top: 65px; */
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    font-size: 16px;
    min-height: 300px; /* Zelfde hoogte als input veld */
   
  }
  
  button {
    background-color: #0057B7; /* Donkerblauw */
    color: white; /* Witte tekst */
    border: none; /* Geen rand */
    padding: 12px 30px; /* Grotere padding voor een grotere knop */
    font-size: 14px; /* Grotere tekst */
    cursor: pointer; /* Cursor verandert naar pointer */
    margin-top: 10px; 
    width: 150px;
    transition: background-color 0.3s; /* Animatie voor achtergrondkleur bij hover */
}

h3 {
  font-weight: normal;
  font-size: 21px;
}




